.gradientText {
  background: linear-gradient(95.06deg, #E61AEF 0%, #FFDE13 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent
}